* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.06rem;
  line-height: 1.2;
}

html,
body {
  /* display: flex; */
  min-height: 95vh;
  padding: 1.2rem 6rem;
  /* background-color: black; */
}

#library-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.book-card {
  padding: 8px;
  border: solid black 2px;
  border-radius: 8px;
  color: red;
}